/*body {
    font-family: sans-serif;
    text-align: center;
}*/

/* These are styles for buttons, including
   submit buttons used to close dialogs.
   The background-color and box-shadow styles
   must be specified in order to make the buttons
   look the same across various browser. */
button,
input[type='submit'] {
    background-color: white;
    border: solid gray 1px;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 10px;
    padding: 4px;
}

/* These are the styles for the dialog */
dialog {
    border: solid gray 2px;
    border-radius: 10px;
}

/* This is the style for outside the dialog
   when the dialog is displayed
   to make it clear that it is a "modal dialog" and
   the user cannot interact with anything outside it. */
::backdrop, /* for native <dialog> */
dialog + .backdrop {
    /* for dialog-polyfill */
    /* a transparent shade of gray */
    background-color: rgba(0, 0, 0, 0.2);
}